.container {
    width: min(100%, 700px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    border-bottom: 30px solid;
    overflow-y: auto;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
}

.title {
    font-size: max(20px, 3vmin);
    text-align: center;
}

.content {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.slider {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.imageContainer {
    scroll-snap-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 10px;
    width: auto;
    height: 100%;
}